{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <h1>Is <a href="http://twitter.com/hhamon">@hhamon</a> Flying?</h1>
    </header>
    <section>
        {% if is_flying|default(false) %}
            <div class="answer">YES</div>
            <div class="tweet">{{ oembed_html|raw }}</div>
        {% else %}
            <div class="answer">NO</div>
        {% endif %}
    </section>

    <a href="http://github.com/jmikola/hhmanon-flying"><img style="position: absolute; top: 0; right: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}
