<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Is @hhamon Flying?</title>
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes|Ewert' rel='stylesheet' type='text/css'>
    {% include '_ga.html.twig' %}
</head>
<body>
    {% block content '' %}
</body>
</html>
