html {
    height: 100%;
}

body {
    background-color: #eee;
    color: #333;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 50px 0;
    width: 640px;
}

header h1 {
    font-family: "Great Vibes", sans-serif;
    font-size: 64px;
    margin: 0;
    text-align: center;
}

header h1 a {
    color: #3789ad;
    text-decoration: none;
}

section div.answer {
    font-family: "Ewert", sans-serif;
    font-size: 144px;
    text-align: center;
    margin-top: 0;
}
