<?php

$app['debug'] = false;
$app['google.analytics.id'] = '';
$app['google.analytics.tld'] = '';
$app['http_cache.cache_dir'] = sys_get_temp_dir() . '/hhamon-flying-cache/http';
$app['http_cache.ttl'] = 10;
$app['tmhoauth.config'] = array(
    'consumer_key' => '',
    'consumer_secret' => '',
    'token' => '',
    'secret' => '',
);
$app['tweet.inspector.ttl'] = 600;
$app['twig.cache_dir'] = sys_get_temp_dir() . '/hhamon-flying-cache/twig';
